@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model App.Web.Areas.Identity.Pages.Account.NewProvinceModel
@{
    ViewData["Title"] = "Categories";

}


<h2>Add New Category</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="NewProvince.Name">Province Name:</label>
        <input asp-for="NewProvince.Name" type="text" class="form-control" id="provinceName">
        <span asp-validation-for="NewProvince.Name" class="text-danger"></span>
        <label asp-for="NewProvince.Description">Province Description:</label>
        <input asp-for="NewProvince.Description" type="text" class="form-control" id="provinceName">
        <span asp-validation-for="NewProvince.Description" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-success" onclick="CreateProvinceWithAjax(event)" onkeypress="CreateProvinceWithAjax(event)">Create Province</button>
    </div>
</form>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>