@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model App.Web.Areas.Identity.Pages.Account.NewCategoryModel
@{
    ViewData["Title"] = "Categories";

}


<h2>Add New Category</h2>

@* <form method="post">
    <div class="form-group">
        <label asp-for="NewCategory.Name">Category Name:</label>
        <input asp-for="NewCategory.Name" />
        <span asp-validation-for="NewCategory.Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-success">Add Category</button>
</form> *@
<form method="post">
    <div class="form-group">
        <label asp-for="NewCategory.Name">Category Name:</label>
        <input asp-for="NewCategory.Name" type="text" class="form-control" id="categoryName">
        <span asp-validation-for="NewCategory.Name" class="text-danger"></span>
        <label asp-for="NewCategory.Description">Category Description:</label>
        <input asp-for="NewCategory.Description" type="text" class="form-control" id="categoryName">
        <span asp-validation-for="NewCategory.Description" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </div>
</form>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

